@import '~@/assets/styles/themes/default.scss';
@import '../../assets/styles/mixins';

page {
  background-color: #F2F2F2;
}

.sequence-edit-page {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: calc(110px + env(safe-area-inset-bottom));
  overflow-y: hidden;

  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

  .scroll-wrap {
    width: 100%;
    height: 100%;
    padding: 32px 0;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .form {
    width: 100vw;
    background-color: #F2F2F2;

    .at-list__item {
      padding: 24px 32px;

      .item-extra__info{
        padding-right: 40px;
      }
    }

    .at-input {
      margin-left: 0;
      padding: 24px 32px;

      .at-input__input {
        padding-right: 0;
      }
    }

    .at-input--disabled {
      opacity: 1;
    }

    .title {
      width: 100vw;
      box-sizing: border-box;
      padding-left: 32px;
      margin: 48px 0 16px 0;

      .name {
        font-size: 32px;
        color: #101010;
        font-weight: bold;
        margin-bottom: 16px;
      }

      .tips {
        color: #93A7B6;
        font-size: 24px;
      }
    }
  }

  .btn-list {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 12px 32px;
    padding-bottom: calc(12px + env(safe-area-inset-bottom));
    height: 110px;
    height: calc(110px + env(safe-area-inset-bottom));
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 36px;
    color: #fff;

    .btn {
      width: 100%;
      height: 100%;
      line-height: 86px;
      border-radius: 86px;
      background-color: #0080FF;
    }
  }
}
