@import '~@/assets/styles/themes/default.scss';
@import '~taro-ui/dist/style/components/list.scss';
@import '~taro-ui/dist/style/components/icon.scss';

.load-page {
  width: 100vw;
  height: 100vh;

  .load-bg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
