@import '~@/assets/styles/themes/default.scss';
@import '../../../assets/styles/mixins/index';

page {
  background-color: #f2f2f2;
}

.stadium-details-page {
  width: 100vw;
  height: 100vh;
  padding-bottom: calc(110px + env(safe-area-inset-bottom));

  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

  .page-header {
    width: 100vw;
    box-sizing: border-box;
    background-color: #fff;

    .header-panel {
      position: relative;

      .page-title {
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: #000;
        font-size: 32px;
        font-weight: bold;
      }

      .back-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .at-tab-bar__item--active .at-badge {
    &::after {
      display: inline-block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: #0080ff;
      transform: translateY(18px);
    }
  }

  .list {
    padding: 32px 32px 0 32px;
    width: 100vw;
    height: calc(100vh - 276px - env(safe-area-inset-bottom));
    box-sizing: border-box;
    overflow: hidden;

    &.stadium {
      padding: 0;
    }

    .scroll-warp {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .item {
      background-color: #fff;
      border-radius: 16px;
      width: 100%;
      height: 340px;
      box-sizing: border-box;
      margin-bottom: 32px;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        font-size: 32px;
        color: #101010;
        border-bottom: 1px solid #e9e9e9;
        padding: 0 32px;
        box-sizing: border-box;

        .left {
          font-weight: bold;
        }

        .right {
          display: flex;
          align-items: center;

          .money {
            display: flex;
            align-items: center;

            .discount {
              min-width: 48px;
              padding: 0 10px;
              height: 32px;
              line-height: 32px;
              text-align: center;
              font-size: 24px;
              border-radius: 8px;
              background-color: #fdca3c;
              color: #ff9502;
              margin: 0 10px;
            }
          }
        }
      }

      .item-body {
        width: 100%;
        box-sizing: border-box;
        font-size: 28px;
        color: #93a7b6;
        padding: 24px 0 32px 32px;
      }
    }
  }

  .form {
    width: 100vw;
    background-color: #f2f2f2;
    padding-bottom: 32px;

    .space-row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      padding-right: 24px;
      border-bottom: 1px solid #ffd9d9;
      box-sizing: border-box;

      .at-input {
        flex: 1;
        padding-right: 8px;
      }
    }

    .add {
      width: 100%;
      height: 96px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: #0080ff;
    }

    .at-switch {
      padding: 16px 32px 16px 32px;
      margin-left: 0;
    }

    .at-list__item {
      padding: 24px 32px;

      .item-extra__info {
        padding-right: 40px;
      }
    }

    .at-input {
      margin-left: 0;
      padding: 24px 32px;

      .at-input__input {
        padding-right: 0;
      }

      &.refundRules {
        padding-right: 0;

        .at-icon-chevron-right {
          padding-left: 0;
        }
      }
    }

    .at-input--disabled {
      opacity: 1;
    }

    .title {
      width: 100vw;
      box-sizing: border-box;
      padding-left: 32px;
      margin: 32px 0 16px 0;

      .name {
        font-size: 32px;
        color: #101010;
        font-weight: bold;
        margin-bottom: 16px;
      }
    }

    .row-title {
      width: 100%;
      height: 96px;
      background-color: #fff;
      display: flex;
      align-items: center;
      font-size: 32px;
      color: #333;
      padding-left: 32px;
    }

    .at-textarea {
      padding: 32px;
    }

    .at-image-picker {
      background-color: #fff;
    }
  }

  .space-details {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    padding-top: 32px;

    .cancel-icon {
      position: absolute;
      left: 16px;
      z-index: 10;
    }

    .space-add {
      position: fixed;
      box-sizing: border-box;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      padding: 12px 32px;
      padding-bottom: calc(12px + env(safe-area-inset-bottom));
      height: 110px;
      height: calc(110px + env(safe-area-inset-bottom));
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 36px;

      .btn {
        width: 100%;
        height: 100%;
        line-height: 86px;
        border-radius: 86px;
        background-color: #fff;
        color: #f00;
        border: 1px solid #ffd9d9;
      }
    }
  }

  .btn-list {
    position: fixed;
    z-index: 9;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 12px 32px;
    padding-bottom: calc(12px + env(safe-area-inset-bottom));
    height: 110px;
    height: calc(110px + env(safe-area-inset-bottom));
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;

    .btn {
      width: 320px;
      height: 100%;
      line-height: 86px;
      border-radius: 86px;
      background-color: #fff;
      color: #0080ff;
      border: 1px solid #0080ff;

      &.save {
        width: 100%;
        background-color: #ff9502;
        border-color: #ff9502;
        color: #fff;

        &:last-child {
          color: #fff;
          background-color: #ff9502;
        }
      }

      &.space-btn {
        flex: 1;
        background-color: #fff;
        color: #f00;
        border: 1px solid #ffd9d9;
        margin: 0 16px;

        &:last-child {
          color: #fff;
          background-color: #ff9502;
          border: 1px solid #ff9502;
        }
      }

      &:last-child {
        color: #fff;
        background-color: #0080ff;
      }
    }
  }

  .at-curtain__container {
    width: 90%;

    .swiper-wrapper {
      height: 540px;

      .img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
