@import '~@/assets/styles/themes/default.scss';
@import '../../../assets/styles/mixins/index';

.indexPage {
  background-color: #f2f2f2;
  min-height: 100vh;
  height: 100vh;
  padding-bottom: calc(100px + env(safe-area-inset-bottom));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  ::-webkit-scrollbar {
    display: none;
  }

  .top-bar {
    width: 100vw;
    height: 188px;
    background-color: #303043;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    font-size: 40px;
    padding-left: 32px;
    font-weight: bold;

    .bar {
      width: 100%;
      position: fixed;
      z-index: 9;
    }
  }

  .top-info {
    .top {
      width: 100vw;
      height: 184px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      box-sizing: border-box;
      background-color: #303043;

      .right {
        width: 272px;
        height: 64px;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transform: translateY(16px);

        .btn {
          width: 128px;
          height: 64px;
          box-sizing: border-box;
          padding-left: 20px;
          border-radius: 8px;
          background-color: transparent;
          color: #0080ff;
          font-size: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #0080ff;

          &.withdraw-btn {
            background-color: #0080ff;
            color: #fff;
            margin-left: 16px;
          }

          .at-icon {
            transform: translateY(2px);
          }
        }
      }

      .left {
        flex: 1;

        .title {
          font-size: 32px;
          opacity: 0.5;
          color: rgba(255, 255, 255, 100);
        }

        .total {
          font-size: 72px;
          color: #fff;
          font-weight: bold;

          &:before {
            content: '￥';
            font-size: 40px;
          }
        }
      }
    }

    .banner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100vw;
      height: 160px;
      padding: 36px 0 40px 0;
      box-sizing: border-box;
      background-color: #262636;
      position: relative;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 32px;
        font-weight: bold;
        width: 50%;
        padding-left: 48px;

        &:last-child {
          border-left: 1px solid #51515d;
        }

        .text {
          font-size: 36px;
          color: #fff;

          &:before {
            content: '￥';
            font-size: 32px;
          }
        }
      }
    }
  }

  .panel {
    background-color: #f2f2f2;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .row {
      width: 100%;
      height: 100px;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #101010;

      .name {
        font-size: 36px;
        font-weight: bold;
      }

      .btn {
        display: flex;
        align-items: center;
        font-size: 28px;

        .clock {
          display: block;
          width: 32px;
          height: 32px;
          margin: 0 -55px -5px 0;
        }

        .date-picker {
          width: 270px;
          height: 60px;
          line-height: 60px;
          border: 1px solid #0080ff;
          border-radius: 8px;

          .at-input--disabled {
            opacity: 1;
          }

          .at-input {
            margin: 8px 0 0 0;
            background-color: transparent;
            padding: 0;
          }
        }
      }
    }

    .list-panel {
      overflow-y: auto;
      flex: 1;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        color: transparent;
        display: none;
      }

      .info {
        background-color: #fff;
        border-radius: 16px;
        padding: 0 32px;
        margin-bottom: 32px;

        .title {
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #101010;
          font-size: 28px;
        }

        .list {
          border-top: 1px solid #e5e5e5;
          border-bottom: 1px solid #eeeeee;

          .item {
            width: 100%;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #eeeeee;

            &:first-child {
              border-top: none;
            }

            .left {
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 32px;
              color: #101010;

              &.package-left {
                width: 220px;
              }

              .index {
                margin-top: 8px;
                font-size: 28px;
                color: #93a7b6;
                max-width: 220px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.package-index {
                  width: 220px;
                }
              }

              .item-title {
                display: flex;
                align-content: center;
                line-height: 36px;
              }

              .tag {
                display: block;
                width: 40px;
                height: 36px;
                border-radius: 8px;
                background-color: rgba(0, 128, 255, 1);
                color: rgba(255, 255, 255, 1);
                font-size: 24px;
                text-align: center;
              }
            }

            .mid {
              flex: 1;
              height: 120px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              box-sizing: border-box;
              margin-left: 16px;

              .user-info {
                flex: 1;
                margin-left: 16px;
                text-align: left;
                font-size: 28px;
                color: #000;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                overflow: hidden;

                .name {
                  width: 210px;
                  max-width: 210px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }

              .img {
                display: block;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #f1f4f1;
              }
            }

            .right {
              display: flex;
              align-items: center;

              .price {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .success {
                  font-size: 32px;
                  color: #101010;

                  .money {
                    font-weight: bold;
                  }
                }

                .fail {
                  font-size: 32px;
                  color: #93a7b6;
                  font-weight: bold;
                }

                .tips {
                  font-size: 28px;
                  color: #93a7b6;
                  margin-top: 8px;
                }
              }

              .at-icon {
                margin-left: 8px;
              }
            }

            .refund-btn {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: #ff0000;
              font-weight: bold;
              font-size: 32px;
            }
          }
        }

        .service-fee {
          width: 100%;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .left {
            font-size: 32px;
            flex: 1;
          }

          .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 32px;
            color: #101010;
            text-align: right;

            .money {
              font-weight: bold;
            }

            .percentage {
              font-size: 28px;
              color: #93a7b6;
              margin-top: 8px;
            }
          }
        }

        .sign {
          font-size: 24px;
          color: #101010;
          font-weight: bold;
        }

        .footer {
          text-align: right;
          height: 120px;
          line-height: 120px;
          font-size: 32px;
          color: #93a7b6;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-top: 1px solid #e5e5e5;

          .total {
            color: #101010;
            display: flex;
            align-items: center;

            .money {
              font-weight: bold;
              font-size: 32px;
            }
          }
        }
      }
    }
  }

  .refund-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;

    .panel {
      width: 620px;
      height: 344px;
      background-color: #fff;
      border-radius: 32px;
      position: absolute;
      left: 50%;
      top: 30vh;
      transform: translateX(-50%);
      padding: 0;

      .dialog-body {
        height: 100%;
        display: flex;
        flex-direction: column;

        .content {
          width: 100%;
          flex: 1;
          padding: 32px;
          color: #302f43;
          font-size: 24px;
          box-sizing: border-box;

          .title {
            text-align: center;
            color: #333;
            font-size: 36px;
            margin-bottom: 52px;
            font-weight: bold;
          }

          .details {
            margin-bottom: 24px;
            line-height: 38px;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
          }
        }

        .btn-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #e5e5e5;
          height: 120px;
          width: 100%;
          font-size: 32px;
          text-align: center;

          .btn {
            height: 100%;
            width: 50%;
            flex: 1;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .cancel {
            color: #0080ff;
          }

          .confirm {
            border-right: 1px solid #e5e5e5;
            color: #f00;
          }
        }
      }
    }
  }
}
