.bottom-tab {
  position: fixed;
  display: flex;
  width: 100%;
  height: calc(100px + env(safe-area-inset-bottom));
  box-sizing: border-box;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
  bottom: 0;
  &-item {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    &-img {
      margin: 0 auto;
      width: 32PX;
      height: 32PX;
      background-color: #ccc;
    }
    &-text {
      font-size: 24px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 300;
      color: #93A7B6;
    }
  }
}