.bottom-tab {
  position: fixed;
  display: flex;
  width: 100%;
  height: calc(100px + env(safe-area-inset-bottom));
  box-sizing: border-box;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
  bottom: 0;
  z-index: 999;

  &-item {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    &-img {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      background-color: #ccc;
    }

    &-text {
      height: 24px;
      font-size: 24px;
      font-family: PingFangSC-Light, PingFang SC;
      color: #93a7b6;
    }
  }
}
