@import '~@/assets/styles/themes/default.scss';
@import '~taro-ui/dist/style/components/list.scss';
@import '~taro-ui/dist/style/components/icon.scss';

page {
  background-color: $color-white;
}

.stadium-page {
  background-color: #fff;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 142px;
  padding-bottom: calc(142px + env(safe-area-inset-bottom));

  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

  .page-header {
    width: 100vw;
    height: 384px;
    position: relative;

    .swiper-wrapper {
      width: 100%;
      height: 100%;
    }

    .bg {
      display: block;
      width: 100%;
      height: 100%;
    }

    .me {
      background-color: rgb(255, 248, 248, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      font-weight: bold;
      color: #000;
      position: fixed;
      border: 1px solid #d5dde5;
      box-sizing: border-box;
      z-index: 9;

      .icon {
        display: block;
        width: 32px;
        height: 32px;
        margin-right: 12px;
        background: url('../../../assets/icons/user.png') no-repeat;
        background-size: 100% 100%;
      }
    }

    .back-icon {
      position: fixed;
      left: 16px;
      z-index: 9;
    }
  }

  .main {
    background-color: #fff;
    width: 100vw;
    border-radius: 64px 64px 0 0;
    margin-top: -64px;
    position: relative;

    .top {
      width: 100%;
      height: 164px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: 32px 48px 0 48px;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //max-width: 93%;
        max-width: calc(100% - 48px);

        .name {
          font-size: 48px;
          color: #101010;
          font-weight: bold;
          padding-bottom: 10px;
        }

        .address {
          width: 100%;
          font-size: 28px;
          color: #6a6a7d;
          display: flex;
          align-items: center;

          .icon {
            display: block;
            width: 28px;
            height: 28px;
            margin-right: 8px;

            text {
              transform: translateY(-8px);
            }
          }

          .text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
          }
        }
      }

      .watch {
        display: block;
        width: 48px;
        height: 48px;
      }
    }

    .at-tabs__header {
      border-bottom: 1px solid #f8f8f8;

      .at-tabs__item-underline {
        transform: translateX(-50%) scaleX(0);
        width: 40rpx;
        left: 50%;
        height: 8px;
        border-radius: 8px;
        background-color: #1a1e22;
      }

      .at-tabs__item--active {
        font-weight: bold;
        color: #1a1e22;

        .at-tabs__item-underline {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }

    .tips1,
    .tips2 {
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 24px;
      border-radius: 8px;
    }
    .tips1 {
      background-color: #fdca3c;
      color: #ff9502;
    }
    .tips2 {
      background-color: #fff;
      color: #ff5d46;
    }

    .space-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100vw;
      height: 160px;
      padding: 0 32px;
      margin-top: 34px;

      .list {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-y: auto;

        .item {
          flex: none;
          width: 200px;
          height: 160px;
          background-color: #f3f4f3;
          border-radius: 16px;
          margin-left: 16px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px solid #fff;
          box-sizing: border-box;

          .type {
            color: #101010;
            font-size: 32px;
            font-weight: bold;

            max-width: 95%;
            margin: 0 auto;
            height: 44px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 28px;
          }
          .unit {
            color: #666;
            font-size: 26px;
            margin: 8px 0;
          }
          .tips1,
          .tips2 {
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 24px;
            border-radius: 8px;
          }
          .tips1 {
            background-color: #fdca3c;
            color: #ff9502;
          }
          .tips2 {
            background-color: #fff;
            color: #ff5d46;
          }
          &:first-child {
            margin-left: 0;
          }

          &.active {
            border-color: #b7e1ff;

            .type {
              color: #b7e1ff;
            }

            .unit {
              color: #b7e1ff;
            }
          }
        }
      }

      .picker {
        height: 100%;
        display: flex;
        align-items: center;
        box-shadow: -50px 0px 50px 5px #fff;
        z-index: 5;
      }

      .date {
        height: 100%;
        display: flex;
        align-items: center;

        .at-icon {
          margin-left: 4px;
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #666;
          font-size: 26px;

          .day {
            font-weight: bold;
            color: #101010;
            font-size: 32px;
          }
        }
      }
    }

    .people-panel {
      width: 100vw;
      box-sizing: border-box;
      padding: 0 32px;
      margin-top: 32px;

      .panel {
        width: 100%;
        background-color: #f2f4f2;
        border-radius: 16px;
        padding: 0 30px;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 32px;

        .p-top {
          width: 100%;
          height: 96px;
          display: flex;
          align-items: center;

          .info {
            flex: 1;
            color: #101010;
            font-size: 32px;
            display: flex;
            align-items: center;

            &.disabled {
              color: #ccc;
            }

            .text {
              font-weight: bold;
            }

            .tips1,
            .tips2 {
              margin-left: 16px;
            }
          }

          .at-icon {
            transform-origin: center;
            transform: rotate(180deg);
            &.open {
              transform: rotate(0deg);
            }
            transition: all 0.5s;
          }
        }

        .list {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          padding-bottom: 16px;
          box-sizing: border-box;
          transition: all 0.5s;
          opacity: 1;

          &.hidden {
            padding-bottom: 0;
            height: 0;
            opacity: 0;
          }

          .item {
            width: 49%;
            height: 100px;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            background-color: #fff;
            margin-bottom: 16px;
            border: 2px solid #fff;

            &.odd-line {
              margin: 0 50% 88rpx 0;
              position: relative;
              &:after {
                left: 0;
              }
              .tips {
                left: 100%;
                transform: translateX(-45%);
              }
            }

            &.even-line,
            &.pre-line {
              margin-bottom: 88rpx;
              position: relative;
            }

            &.even-line {
              &:after {
                left: -100%;
              }
              .tips {
                transform: translateX(-56%);
              }
            }

            &.odd-line,
            &.even-line {
              &:after {
                content: ' ';
                width: 204%;
                height: 0;
                border: 1px dashed #ccc;
                position: absolute;
                bottom: -48rpx;
              }
              .tips {
                position: absolute;
                color: #ccc;
                width: 210px;
                text-align: center;
                bottom: -62rpx;
                background-color: #f2f4f2;
                z-index: 3;
                padding: 0 10rpx;
              }
            }

            .img {
              width: 80px;
              height: 80px;
              border-radius: 80px;
              background-color: #f1f4f1;
              display: flex;
              align-items: center;
              overflow: hidden;
              .index {
                width: 100%;
                text-align: center;
                color: #e2e2e2;
              }
              image {
                display: block;
                width: 80px;
                height: 80px;
              }
            }

            .name {
              flex: 1;
              height: 40px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 16px;
              &.default {
                color: #ddd;
              }
            }

            .icon {
              flex: 1;
              display: flex;
              justify-content: center;
            }

            &.hover {
              border-color: #0092ff;
              .img {
                background-color: #e9f6ff;
                color: #0092ff;
              }
            }
          }
        }
      }
    }

    .details {
      background-color: #f4f4f4;
      padding-top: 32px;

      .row {
        width: 100vw;
        box-sizing: border-box;
        min-height: 100px;
        display: flex;
        align-items: center;
        padding: 0 32px;
        background-color: #fff;

        &.flex-start {
          align-items: baseline;
          .icon-space {
            transform: translateY(8px);
            background: url('../../../assets/icons/stadium.png') no-repeat;
            background-size: 100% 100%;
          }

          .icon-detail {
            transform: translateY(3px);
          }

          &:last-child {
            padding-top: 28px;
          }

          .at-textarea {
            border: none;
            border-radius: unset;
            padding: 0;

            textarea {
              height: 500px;
            }
          }
        }

        .icon {
          display: block;
          width: 40px;
          height: 40px;
        }

        .label {
          font-size: 32px;
          color: #93a8b7;
          margin: 0 24px 0 8px;
        }

        .info {
          flex: 1;
          color: #101010;
          font-size: 32px;

          .text {
            height: 100px;
            line-height: 100px;
            &:first-child {
              border-bottom: 1px solid #f2f2f2;
            }
          }
        }
      }
    }
  }

  .pay-btn {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 12px 16px 12px 32px;
    padding-bottom: calc(12px + env(safe-area-inset-bottom));
    height: 110px;
    height: calc(110px + env(safe-area-inset-bottom));
    text-align: center;
    display: flex;
    align-items: center;
    .warp {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .not-login {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      .tips {
        font-size: 24px;
        color: #c7c7cc;
      }
    }

    .cancel-warp {
      display: flex;
      align-items: center;
      color: #f00;
      font-size: 32px;

      .cancel-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        background: url('../../../assets/icons/cancel.png') no-repeat;
        background-size: 100% 100%;
      }
    }

    .text {
      font-size: 28px;
      color: #101010;
    }

    .info {
      flex: 1;
      display: flex;
      align-items: center;

      .left-text {
        display: flex;
        align-items: center;
        text-align: left;

        .row-left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
        }

        .pre {
          font-weight: bold;
          color: #ff9502;
        }
      }

      .money {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .new {
          font-size: 36px;
          color: #ff3a30;
          font-weight: bold;
        }

        .old {
          font-size: 24px;
          color: #c7c7cc;
          display: flex;
          align-items: center;
          .price {
            text-decoration: line-through;
          }

          .tips1 {
            min-width: 48px;
            padding: 0 10px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 24px;
            border-radius: 8px;
            background-color: #fdca3c;
            color: #ff9502;
            margin-left: 4px;
          }
        }

        .new,
        .price {
          &:before {
            content: 'ï¿¥';
            font-size: 24px;
          }
        }
      }
    }

    .btn {
      width: 270px;
      height: 88px;
      line-height: 88px;
      text-align: center;
      background-color: #ff9502;
      color: #fff;
      font-size: 28px;
      border-radius: 88px;

      &.disabled {
        background-color: #f9d6af;
      }

      .phone-auth-btn {
        background-color: transparent;
        color: #fff;
        border-radius: unset;
        font-size: 28px;
        height: 88px;
        line-height: 88px;

        &::after {
          border: none;
          border-radius: unset;
        }
      }
    }
  }

  .cancel-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    .panel {
      width: 620px;
      height: 644px;
      background-color: #fff;
      border-radius: 32px;
      position: absolute;
      left: 50%;
      top: 20vh;
      transform: translateX(-50%);
      padding-top: 80px;

      .top {
        width: 160px;
        height: 160px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        background: url('../../../assets/icons/refund-icon.png') no-repeat;
        background-size: 100% 100%;
      }

      .dialog-body {
        height: 100%;
        display: flex;
        flex-direction: column;

        .content {
          width: 100%;
          flex: 1;
          padding: 32px;
          color: #302f43;
          font-size: 24px;
          box-sizing: border-box;

          .title {
            text-align: center;
            color: #f00;
            font-size: 48px;
            margin-bottom: 32px;
            font-weight: bold;
          }

          .details {
            margin-bottom: 24px;
            line-height: 38px;
          }

          .row {
            line-height: 44px;

            &.sub {
              text-indent: 36px;
            }
          }
        }

        .btn-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #e5e5e5;
          height: 120px;
          width: 100%;
          font-size: 32px;
          text-align: center;

          .btn {
            height: 100%;
            width: 50%;
            flex: 1;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .cancel {
            color: #f00;
            border-right: 1px solid #e5e5e5;

            .tips {
              font-size: 24px;
              color: #f98686;
            }
          }

          .confirm {
            color: #0080ff;
          }
        }
      }
    }
  }
}
