@import '~@/assets/styles/themes/default.scss';
@import '~taro-ui/dist/style/components/list.scss';
@import '~taro-ui/dist/style/components/icon.scss';

page {
  background-color: $color-white;
}

.pay-page {
  background-color: #f4f4f4;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 142px;
  padding-bottom: calc(142px + env(safe-area-inset-bottom));

  .top-bar {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 0;

    .tips {
      text-align: left;
      color: #666;
      font-size: 24px;
    }

    .date {
      display: flex;
      height: 48px;
      align-items: center;
      color: #333d44;
      font-weight: bold;

      .block {
        width: 40px;
        height: 48px;
        line-height: 48px;
        background-color: #333d44;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        font-size: 24px;
        margin-right: 2px;
        &:last-child {
          margin-right: 0;
        }
      }

      .line {
        padding: 0 8px;
      }
    }
  }

  .panel {
    width: 100vw;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 32px 0;
    padding: 0 32px;
    overflow: hidden;
  }

  .pay {
    //height: 374px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 0 32px;

    .top {
      width: 100%;
      height: 72px;
      line-height: 72px;
      color: #101010;
      font-size: 28px;
      font-weight: bold;
    }

    .row {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f7f7f7;
      &:last-child {
        border-bottom: none;
      }

      &.disabled {
        opacity: 0.5;
      }

      .icon {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px;

        &.icon-1 {
          background: url('../../../assets/icons/wechat-pay.png') no-repeat;
          background-size: 100% 100%;
        }

        &.icon-2 {
          background: url('../../../assets/icons/card-icon.png') no-repeat;
          background-size: 100% 100%;
        }
      }

      .pay-icon {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #333d44;

        &.select {
          border-color: #0092ff;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &:after {
            content: ' ';
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #0092ff;
          }
        }
      }

      .label {
        color: #101010;
        font-size: 32px;
        padding-left: 10px;
        text-align: left;
        flex: 1;
        display: flex;
        align-items: center;

        .text {
          color: #93a6b5;
          font-size: 24px;
        }
      }

      .money {
        color: #ff3a30;
        font-size: 32px;
        padding-right: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;

        .text {
          color: #333d44;
          font-size: 24px;
          font-weight: normal;
        }
      }
    }

    .tips {
      width: 100%;
      height: 92px;
      line-height: 92px;
      color: #333d44;
      font-size: 24px;
    }

    .month {
      height: auto;
      padding: 16px 0;
      line-height: 36px;
    }
  }

  .info {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    height: 412px;
    border-radius: 16px;
    padding: 0 32px;

    .top {
      width: 100%;
      height: 72px;
      line-height: 72px;
      color: #101010;
      font-size: 28px;
      font-weight: bold;
    }

    .row {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 32px;
      width: 100%;
      height: 64px;
      border-bottom: 1px solid #f7f7f7;
      &:last-child {
        border-bottom: none;
      }

      .label {
        color: #93a8b7;
        padding-right: 48px;
      }

      .text {
        flex: 1;
        color: #0f100f;
      }
    }
  }

  .details {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 32px;
    color: #a4aaae;
    font-size: 24px;
  }

  .pay-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 12px 16px;
    padding-bottom: calc(12px + env(safe-area-inset-bottom));
    height: 110px;
    height: calc(110px + env(safe-area-inset-bottom));
    text-align: center;

    .btn {
      width: 100%;
      height: 88px;
      line-height: 88px;
      text-align: center;
      background-color: #ff9502;
      color: #fff;
      font-size: 28px;
      border-radius: 88px;

      &.cancel {
        width: 30%;
        background-color: red;

        & + .btn {
          width: 66%;
        }
      }
    }
  }
}
